* {
  font-family: "Arial", "Helvetica", "sans-serif";
}

body {
  background-color: #b0c4de;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin-left: 10px;
}

.navigation {
  display: flex;
  background-color: #4682b4;
  align-items: center;
  height: 50px;
}

.links {
  margin-left: 10px;
}
