{% extends 'workout/base.html' %} {% block content %}
<div class="container">
  <h3>Workouts: <a href="{% url 'workout_create' %}">[+]</a></h3>
  <ul>
    {% for workout in workouts %}
    <li>
      <a href="{% url 'workout_detail' pk=workout.pk %}"
        >[ {{ workout.name }} - {{ workout.muscle }} ]</a
      >
    </li>
    {% endfor %}
  </ul>
  <h3>Tips:</h3>
  <ul>
    <li>
      3 Second Extension (Breathe Out) > Hold 1 > 3 Second Return (Breathe In) >
      Repeat
    </li>
    <li>Focus On Form - Flex Target Muscle</li>
    <li>If you can perform all sets, increase weight by 5</li>
    <li>
      If you can almost perform all sets, while keeping good form, maintain
      weight
    </li>
    <li>If you cannot perform all sets, reduce weight by 5</li>
  </ul>
</div>
{% endblock %}
