{% extends 'workout/base.html' %} {% block content %}
<div class="container">
  <h4>Workouts: <a href="{% url 'workout_create' %}">[+]</a></h4>
  <ul>
    {% for workout in workouts %}
    <li>
      <a class="black-text" href="{% url 'workout_detail' pk=workout.pk %}"
        >[ {{ workout.name }} - {{ workout.muscle }} ]</a
      >
    </li>
    {% endfor %}
  </ul>
  <h4>Tips:</h4>
  <ul>
    <li>
      &#8226; 3 Second Extension (Breathe Out) > Hold 1 > 3 Second Return
      (Breathe In) > Repeat
    </li>
    <li>&#8226; Focus On Form - Flex Target Muscle</li>
    <li>&#8226; If you can perform all sets, increase weight by 5</li>
    <li>
      &#8226; If you can almost perform all sets, while keeping good form,
      maintain weight
    </li>
    <li>&#8226; If you cannot perform all sets, reduce weight by 5</li>
  </ul>
</div>
{% endblock %}
