{% extends 'workout/base.html' %} {% block content %}
<div class="container">
  <h4>
    {{ workout.name }}'s {{ workout.muscle }} Workout
    <a href="{% url 'workout_edit' pk=workout.pk %}">[edit]</a>
    <a href="{% url 'workout_delete' pk=workout.pk %}">[delete]</a>
  </h4>
  <h4>Lifts <a href="{% url 'lift_create' %}">[+]</a></h4>
  <ul>
    {% for lift in workout.lifts.all %}
    <li>
      <p>
        &#8226; {{ lift.exercise }} - Reps: {{ lift.reps }} Weight: {{
        lift.weight }}
        <a href="{% url 'lift_edit' pk=lift.pk %}">[edit]</a>
        <a href="{% url 'lift_delete' pk=lift.pk %}">[delete]</a>
      </p>
      <p></p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
